/* Untuk browser WebKit (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Untuk browser Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
